<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Création d'un compte</title>
</head>

<body>

<h2>Créer un compte Mobile Money</h2>

<form th:action="@{/accounts/create}"
      th:object="${createAccountRequest}"
      method="post">

	  <label>Nom</label>

	  <input type="text" th:field="*{nom}">

	  <div
	       th:if="${#fields.hasErrors('nom')}"
	       th:errors="*{nom}"
	       style="color:red">
	  </div>

    <br><br>

	<label>Prénom</label>

	<input type="text" th:field="*{prenom}">

	<div
	     th:if="${#fields.hasErrors('prenom')}"
	     th:errors="*{prenom}"
	     style="color:red">
	</div>

    <br><br>

	<label>Numero De Téléphone</label>

	<input type="text"
	       th:field="*{numeroTelephone}">

	<div
	     th:if="${#fields.hasErrors('numeroTelephone')}"
	     th:errors="*{numeroTelephone}"
	     style="color:red">
	</div>

    <br><br>

    <label>Profil</label>

    <select th:field="*{profil}">

        <option value="SUBSCRIBER">
            Subscriber
        </option>

        <option value="AGENT">
            Agent
        </option>

    </select>

    <br><br>

    <label>Type de personne</label>

    <select th:field="*{typePersonne}">

        <option value="PERSONNE_PHYSIQUE">
            Personne physique
        </option>

        <option value="PERSONNE_MORALE">
            Personne morale
        </option>

    </select>

    <br><br>

    <button type="submit">

        Créer le compte

    </button>

</form>

</body>
</html>