<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Effectuer un retrait</title>

<link rel="stylesheet"
      th:href="@{/css/form.css}">

</head>

<body>

<div class="card">

<h2>RETRAIT D'ARGENT</h2>


<form

th:action="@{/withdrawals/create}"
th:object="${retrait}"
method="post">

<div class="form-group">

<label>Numéro de l'Agent</label>

<input
type="text"
th:field="*{numeroAgent}">

<div
class="error"
th:if="${#fields.hasErrors('numeroAgent')}"
th:errors="*{numeroAgent}">
</div>

</div>

<div class="form-group">

<label>Numéro du Client</label>

<input
type="text"
th:field="*{numeroClient}">

<div
class="error"
th:if="${#fields.hasErrors('numeroClient')}"
th:errors="*{numeroClient}">
</div>

</div>

<div class="form-group">

<label>Code PIN du Client</label>

<input
type="password"
maxlength="4"
inputmode="numeric"
autocomplete="off"
th:field="*{motDePasse}">

<div
class="error"
th:if="${#fields.hasErrors('motDePasse')}"
th:errors="*{motDePasse}">
</div>

</div>

<div class="form-group">

<label>Montant</label>

<input
type="number"
th:field="*{montant}">

<div
class="error"
th:if="${#fields.hasErrors('montant')}"
th:errors="*{montant}">
</div>

</div>

<div class="form-group">

<label>Motif</label>

<input
type="text"
th:field="*{motif}">

<div
class="error"
th:if="${#fields.hasErrors('motif')}"
th:errors="*{motif}">
</div>

</div>

<input
type="hidden"
th:field="*{typeTransaction}">

<button type="submit">

Effectuer le retrait

</button>

<div th:if="${#fields.hasGlobalErrors()}" style="color:red; font-weight:bold; margin-bottom: 15px;">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

</form>

<div class="menu">

<a th:href="@{/}">
Accueil
</a>

<a th:href="@{/deposits/create}">
Effectuer un dépôt
</a>

</div>

</div>

</body>

</html>