<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Effectuer un transfert</title>

<link rel="stylesheet"
      th:href="@{/css/form.css}">

</head>

<body>

<div class="card">

<h2>TRANSFERT D'ARGENT</h2>

<div
th:if="${erreur}"
class="error">

<span th:text="${erreur}"></span>

</div>


<div
th:if="${message}"
class="success">

<p th:text="${message}"></p>

<p>

Référence :

<strong th:text="${reference}"></strong>

</p>

</div>


<form
th:object="${transferRequest}"
th:action="@{/transfers/create}"
method="post">

<div class="form-group">

<label>Numéro de l'émetteur</label>

<input
type="text"
th:field="*{compteSource}"
placeholder="0700000001">

<p
class="error"
th:if="${#fields.hasErrors('compteSource')}"
th:errors="*{compteSource}">
</p>

</div>


<div class="form-group">

<label>Numéro du destinataire</label>

<input
type="text"
th:field="*{compteDestination}"
placeholder="0700000002">

<p
class="error"
th:if="${#fields.hasErrors('compteDestination')}"
th:errors="*{compteDestination}">
</p>

</div>


<div class="form-group">

<label>Montant</label>

<input
type="number"
th:field="*{montant}"
placeholder="1000">

<p
class="error"
th:if="${#fields.hasErrors('montant')}"
th:errors="*{montant}">
</p>

</div>


<div class="form-group">

<label>Type de transaction</label>

<select th:field="*{typeTransaction}">

<option value="">-- Choisir --</option>

<option
th:each="type : ${T(com.mobilemoney.transaction.domain.enums.TypeTransaction).values()}"
th:value="${type}"
th:text="${type}">
</option>

</select>

<p
class="error"
th:if="${#fields.hasErrors('typeTransaction')}"
th:errors="*{typeTransaction}">
</p>

</div>


<div class="form-group">

<label>Motif</label>

<textarea
th:field="*{motif}"
placeholder="Ex : Paiement de facture">
</textarea>

<p
class="error"
th:if="${#fields.hasErrors('motif')}"
th:errors="*{motif}">
</p>

</div>


<button type="submit">

Effectuer le transfert

</button>

</form>

<div class="menu">

<a th:href="@{/}">
Accueil
</a>

<a th:href="@{/transfers/history}">
Voir l'historique
</a>

</div>

</div>

</body>
</html>